* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  margin: 0;
  padding: 0;
  padding: 10px 40px 10px 70px;
  background: rgb(5, 77, 52);
}
nav ul {
  display: flex;
  color: white;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li.logo {
  flex: 0.75;
  font-size: 20px;
  font-weight: 600;
}
nav ul div.items {
  padding: 0 25px;
  display: inline-flex;
}

nav ul div.items a {
  text-decoration: none;
  font-size: 16px;
  padding: 0 12px;
  color: white;
}

nav ul .search-icon {
  height: 40px;
  width: 240px;
  display: flex;
  background: white;
  border-radius: 5px;
  padding: 0;
}
nav ul .search-icon input {
  height: 100%;
  width: 200px;
  border: none;
  outline: none;
  padding: 0 10px;
  color: #000;
  font-size: 16px;
  border-radius: 5px;
}
nav ul .search-icon .icon {
  height: 100%;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 0 5px 5px 0;
  color: #000;
}
nav ul .search-icon .icon icon {
  font-size: 18px;
  color: #000;
}
.section-heading {
  padding: 10px 0px 0px 20px;
  font-size: 20px;
  font-weight: 600;
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
  flex: 25%;
}
.row {
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-wrap: wrap;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: flex;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
  .contact-us input[type="text"] {
    width: 50%;
  }
}
.column img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

hr {
  margin: 10px;
}

.section-heading-2 {
  font-size: 18px;
  font-weight: 600;
}

.info {
  padding: 15px 0px 15px 0px;
}
.button-info {
  background: rgb(5, 77, 52);
  color: white;
  align-items: center;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.contact-us {
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.section-heading-3 {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0px 10px 0px;
}
.contact-us input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: flexbox;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.contact-us input[type="submit"] {
  width: 100%;
  background-color: rgb(5, 77, 52);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
